@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  height: 250px !important;
}

:root {
  --swiper-navigation-size: 35px !important;
  --swiper-theme-color: #098129 !important;
}

.truncate-multiline {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}