@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-slide {
  height: 250px !important;
}

:root {
  --swiper-navigation-size: 35px !important;
  --swiper-theme-color: #098129 !important;
}
